nav.header-menu
	ul.header-menu__list
		li.header-menu__item__logo
			include ../logo/logo.pug
		li.header-menu__item 
			a(href="#") Home
		li.header-menu__item 
			a(href="") About
			ul.header__submenu.header__submenu--hover
				li.header__submenu__item 
					a(href="#") Agency
				li.header__submenu__item
					a(href="#") News
				li.header__submenu__item
				a(href="#") Team
		li.header-menu__item 
			a(href="#") Gallery
		li.header-menu__item__logo 
			include ../logo/logo.pug
		li.header-menu__item
			a(href="#") Tours
		li.header-menu__item
			a(href="#") Blog
		li.header-menu__item
			a(href="#") Contacts