.gallery-block
	h2.gallery-block__title Our gallery
	.gallery-block__content
		.gallery-block__item1.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item2.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item3.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item4.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item5.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item6.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item7.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item8.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")
		.gallery-block__item9.gallery-block__item
			img.gallery-block__item--hidden(src="../assets/ico.svg")