.footer-social
	a(href="#")
		img.footer-social__item(src="../assets/tw.svg", alt="")
		
	a(href="#")
		img.footer-social__item(src="../assets/fb.svg", alt="")
	a(href="#")
		img.footer-social__item(src="../assets/goo.svg", alt="")
	a(href="#")
		img.footer-social__item(src="../assets/li.svg", alt="")
