.logo{
    width: 2em;
    height: 2em;
    background-color: #fff;
    color: #263555;
    border-radius: 50%;
    font-size: 3.5em;
    text-transform: uppercase;
    text-align: center;
    line-height: 2em;
    font-family: 'Dorsa', sans-serif
}