.footer-menu
	ul.footer-menu__list
		li.footer-menu__item
			a.footer-menu__links(href="#") FAQS Page
		li.footer-menu__item
			a.footer-menu__links(href="#") Useful links
		li.footer-menu__item
			a.footer-menu__links(href="#") Insurance
		li.footer-menu__item
			a.footer-menu__links(href="#") People Say
		li.footer-menu__item
			a.footer-menu__links(href="#") Partners
		li.footer-menu__item
			a.footer-menu__links(href="#") Family Travel
	ul.footer-menu__contacts
		li.footer-menu___contacts__item
			p Contact Us:
		li.footer-menu___contacts__item
			a(href="tel:18002345678") TEL: 1-800-234-5678
		li.footer-menu___contacts__item
			a(href="mailto:info@demolink.org") info@demolink.org